.App {
  text-align: center;
  height: 1000px;
  background-color: yellow;
}

h1 {
  padding-top: 300px;
  font-weight: bold;
}

form {
  padding-top: 100px;
}

label {
  padding-left: 20px;
}

button {
  margin-left: 20px;
}

ul {
  margin-top: 50px;
}

li {
  justify-items: right;
  justify-content: right;
  line-height: 150%;
  margin-top: 5px;
}

span {
  padding-left: 10px;
}
